
/* Shared Design */
header > section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
    
}
main > section{
     max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;

}

.inter-font{
  font-family: "Inter", sans-serif;
}

.noto-serif-font{
  font-family: "Noto Serif", serif;

}

/* Nav section Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
 .navbar ul{
    display: flex;
    gap: 48px;
    font-family: "Inter", sans-serif;
}
 .navbar ul li{
    list-style: none;
}
li a{
    text-decoration: none;
}
.home{
    font-weight: bold;
    color: #252432;

}
.shop{
    color: #8987A1;
}
.cart{
    color: #000000;
}

/* Banner Section Style */
.banner-container{
    display: flex;
    height: 460px;
    align-items: end;
}
.banner-title{
    font-size: 4.06rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    color: #E95A08;
    margin: 0;

}
.banner-title span{
    color: #000000;
}
.description{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}
.banner-img img{
    display: block;
}

/* Plant Section Styles */
.card-text{
    text-align: center;
}

.title{
    font-size: 3.12rem;
    font-weight: bold;
    margin: 0;
    font-family: "Noto Serif", serif;

}
.title span{
    color: #E95A08;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card{
    margin-bottom: 30px;
    text-align: center;
}
.card-name{
    font-size: 1.37rem;
    font-weight: 500;
    color: #111111;
    font-family: "Inter", sans-serif;
    margin:10px;
}
.card-price{
    font-size: 1.37rem;
    font-weight: bold;
    color: #111111;
    font-family: "Inter", sans-serif;
    margin:10px;
}
button{
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E95A08;
    padding: 19px 90px;
    border:none;
}

/* Trusted Seller Secrion */
.sell-container{
    display: flex;
    align-items: center;
    gap: 60px;
}
.trusted-badge{
    width: 286px;
    height: 286px;
    border: 1px solid black;
    align-items: end;
    
}





/* Mobile Device Design */
header > section{
    margin-bottom: 30px;
}
@media screen and (max-width:576px) {
    ul li .home , .shop{
        display: none;
    }
    nav{
        margin: 13px 16px 28px;
    }
    .banner-container{
        flex-direction: column-reverse;
        
    }
    .banner-img img{
        margin-bottom: 28px;
         max-width: 100%;
       
        
    }
    .banner-title{
        font-size: 1.8rem;
        
    }
    .description{
        font-size: 0.87rem;
    }
    
    /* Our Plant Card Design */
    .card-container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
        
    }
    button{
        padding: 10px 48px;
    }
    .card-img{
        width: 100%;
    }
    .title{
        font-size: 1.5rem;
    }
    .card-name{
        font-size: 1rem;
    }
    .card-price{
        font-size: 1rem;

    }

    /* Badge Design */

    .sell-container{
        flex-direction: column;
    
    }
    .sell-img img {
       max-width: 100%;
       
    }
    

    
    
}


